@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #D5E2E2;
    display: flex;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 90px;
    background-color: white;
    overflow: hidden;
    transition: width 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav:hover {
    width: 200px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
    padding: 15px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
h2{
    padding-top: 40px;
}
a {
    display: flex;
    align-items: center;
    color: #1B4079;
    font-size: 14px;
    padding: 10px;
    transition: background 0.3s ease, color 0.3s ease;
}

a .fa {
    width: 30px;
    text-align: center;
}



.container {
    margin-left: 90px;
    padding: 20px;
    width: calc(100% - 90px);
    transition: margin-left 0.3s ease, width 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
form input:hover {
    background-color: initial !important;
    color: initial !important;
    border-color: #ccc !important;
}

form button:hover {
    background-color: #1B4079 !important;
    color: white !important;
}

button {
    padding: 10px 15px;
    background-color: #1B4079;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}




.product-table {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #1B4079;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}
